.nrj-stories-popup.nrj-stories-popup_loading.popup.popup_content_stories
    button.popup__close(type="button" aria-label="Закрыть всплывающее окно")

    .popup__inner
        span.loader
            span.loader__el
            span.loader__el
            span.loader__el
            span.loader__el