extends ./components/_base

append vars
    - pageTitle = "Hot 30 NRJ"
    - isInner = true

append content
    +breadcrumps(["Hot 30 NRJ"])

    .hot-30-content
        .hot-30-content__main
            h1.title
                | Hot 30 NRJ

            .hot-30
                .hot-30__header
                    .hot-30__title
                        | Сегодня
                    .hot-30__title
                        | На прошлой неделе
                - let n = 0
                - const pos = ["chart-pos_growed", "chart-pos_falled", ""]
                - const titles = ["Down By The River Down By The River", "Goosebumps", ]
                while n < 3
                    - const _pos = Math.round( Math.random() * 3 )
                    .hot-30__item
                        .chart-pos.hot-30__pos(class=pos[n])
                            = ++n
                            .chart-pos__icon
                            span.visually-hidden
                                | трек поднялся в чарте
                        +player({
                            asHot30: true,
                            mixin: "player_view_hot30 hot-30__player",
                            img: "img/cover-sm.jpg",
                            trackData: {
                                title: titles[Math.round( Math.random() )],
                                subtitle: 'Milky Chance',
                            },
                            btnOpts: {
                                isLoaderSm: true,
                            },
                        })
                        - const className = _pos === 2 ? "chart-pos_new" : pos[_pos]
                        .chart-pos.chart-pos_past.hot-30__prev-pos(class=className)
                            if _pos === 2
                                | NEW
                            else
                                = Math.round( Math.random() * 29 + 1 )
                            if _pos !== 2
                                .chart-pos__icon
                            span.visually-hidden
                                | на прошлой неделе трек поднялся в чарте

        .hot-30-content__track-info
            button.hot-30-content__close(type="button" aria-label="Закрыть всплывающее окно")

            span.loader.hot-30-content__loader
                span.loader__el
                span.loader__el
                span.loader__el
                span.loader__el

            .hot-30-content__item(data-id="123")
                .clip-text-block
                    - const roll = Math.round( Math.random() )
                    //- if roll === 1
                    //-     .clip-text-block__video
                    //-         iframe.clip-text-block__iframe(width="560" height="315" src="https://www.youtube.com/embed/Uf9t8Ph_qtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    //- else
                    .clip-text-block__suggest-clip
                        img.clip-text-block__cover(src="img/track-1.jpg" alt="")
                        .clip-text-block__info
                            | Видео еще нет. 
                            button.js-popup-btn.clip-text-block__form-btn(type="button" data-popup-target=".suggest-clip-popup")
                                | Отправить ссылку на видео
                    .clip-text-block__inner
                        button.clip-text-block__btn.clip-text-block__btn_active(type="button" data-target=".clip-text-block__text_content_lyrics")
                            | Текст песни
                        button.clip-text-block__btn(type="button" data-target=".clip-text-block__text_content_translate")
                            | Перевод
                        .clip-text-block__text.clip-text-block__text_content_lyrics.clip-text-block__text_visible
                            | Roxanne<br>
                            | You don't have to put on the red light<br>
                            | Those days are over<br>
                            | You don't have to sell your body to the night<br>
                            | Roxanne<br>
                            | You don't have to wear that dress tonight<br>
                            | Walk the streets for money<br>
                            | You don't care if it's wrong or if it's right<br>
                            | Roxanne<br>
                            | You don't have to put on the red light<br>
                            | Roxanne<br>
                            | You don't have to put on the red light<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | I loved you since I knew you<br>
                            | I wouldn't talk down to you<br>
                            | I have to tell you just how I feel<br>
                            | I won't share you with another boy<br>
                            | I know my mind is made up<br>
                            | So put away your make up<br>
                            | Told you once I won't tell you again<br>
                            | It's a bad way<br>
                            | Roxanne<br>
                            | You don't have to put on the red light<br>
                            | Roxanne<br>
                            | You don't have to put on the red light<br>
                            | Roxanne (You don't have to put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (You don't have to put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                            | Roxanne (Put on the red light)<br>
                        .clip-text-block__text.clip-text-block__text_content_translate
                            | HUI VAM A NE PEREVOD

    .popup.popup_content_form.popup_view_regular.suggest-clip-popup(data-close-on-dark-click)
        .popup__inner
            form.form.form_view_popup(action="#" method="post")
                button.form__close.popup__close(type="button" aria-label="Закрыть всплывающее окно")

                .form__inner
                    .form__header
                    .form__title
                        | Отправьте нам ссылку на клип к треку "БАДЖАМБОЛА УАГАМБА"
                    label.label.form__item
                        input.input.label__input(type="text" required)
                        span.label__text
                            | Ссылка
                    button.btn.form__submit(type="submit")
                        | Отправить

                .form__response
                    +svg("success")(class="form__icon" width="32" height="32")
                    .form__title
                    .form__desc
                    button.form__response-btn(type="button" data-close="")
append scripts