|    [{
|        "img": "img/big-shlong-photo-1.jpg",
|        "width": 1288,
|        "height": 752,
|        "alt": "ALT_MUFAKA",
|        "thumb": "img/gphoto-1.jpg",
|        "original": "img/big-shlong-photo-1.jpg"
|    }, {
|        "img": "img/big-shlong-photo-1.jpg",
|        "width": 1288,
|        "height": 752,
|        "alt": "ALT_MUFAKA",
|        "thumb": "img/gphoto-1.jpg",
|        "original": "img/big-shlong-photo-1.jpg"
|    }, {
|        "img": "img/big-shlong-photo-1.jpg",
|        "width": 1288,
|        "height": 752,
|        "alt": "ALT_MUFAKA",
|        "thumb": "img/gphoto-1.jpg",
|        "original": "img/big-shlong-photo-1.jpg"
|    }, {
|        "img": "img/big-shlong-photo-1.jpg",
|        "width": 1288,
|        "height": 752,
|        "alt": "ALT_MUFAKA",
|        "thumb": "img/gphoto-1.jpg",
|        "original": "img/big-shlong-photo-1.jpg"
|    }, {
|        "img": "img/big-shlong-photo-1.jpg",
|        "width": 1288,
|        "height": 752,
|        "alt": "ALT_MUFAKA",
|        "thumb": "img/gphoto-1.jpg",
|        "original": "img/big-shlong-photo-1.jpg"
|    }]