.main-player-mini {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 15;

    display: flex;
    align-items: center;

    width: 100%;
    height: var(--player-height);
    padding: 12px 16px;

    color: var(--white);

    background-color: var(--purple);

    @media (min-width: 1025px) {
        display: none;

        flex-direction: column;

        width: calc(var(--player-width) + var(--scrollbar-width));
        height: 100vh;
        padding: 45px 9px;
        padding-top: 0;

        background-color: rgba(31, 17, 33, 0.5);
        backdrop-filter: blur(8px);
        opacity: 0;

        transform: translateX(100%);
        transition:
            transform .3s,
            opacity .3s;
    }

    &_visible {

        @media (min-width: 1025px) {
            display: flex;
        }
    }

    &_appeared {

        @media (min-width: 1025px) {
            opacity: 1;

            transform: translate(0, 0);
        }
    }

    &__expand-btn {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-shrink: 0;
            width: 48px;
            height: 48px;
            padding: 0;
            margin-bottom: 2.7rem;
            border: 0;

            color: var(--l2-gray);

            background-color: transparent;
            outline: none;
            opacity: 0.5;

            &:hover,
            &:focus,
            &:active {
                color: var(--white);

                opacity: 1;
            }
            &:active {
                opacity: 0.7;
            }
        }
    }

    &__volume {
        z-index: 2;

        width: 100%;
        margin-bottom: 2rem;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__player {
        flex-grow: 1;
        max-width: calc(100% - 10px - 30px);
        margin-right: 10px;

        @media (min-width: 1025px) {
            max-width: 100%;
            max-height: calc(100vh - 45px - 48px - 2.7rem - 2rem - 32px);
            margin-right: 0;
            margin-top: auto;
        }
    }

    &__cover-btn {

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__track {
        margin-inline-end: .5em;
    }

    &__artist {
        opacity: 0.7;
    }

    &__play-btn {
        --loader-size: 6px;
        --loader-gap: 2px;

        width: 30px;
        height: 30px;

        @media (min-width: 1025px) {
            display: none;
        }
    }
}

.main-player {
    --main-player-gap:      16px;
    --main-player-top-gap:  20px;

    display: none;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 14;

    width: calc(100% + var(--scrollbar-width));
    height: calc(100vh - var(--player-height));
    padding-right: var(--scrollbar-width);

    color: var(--white);

    background-color: rgba(31, 17, 33, 0.5);
    backdrop-filter: blur(8px);
    opacity: 0;

    transform: translateY(100%);
    transition:
        opacity .3s,
        transform .3s;

    @media (min-width: 768px) {
        --main-player-top-gap: 32px;
    }
    @media (min-width: 1025px) {
        --main-player-gap:      20px;
        --main-player-top-gap:  48px;

        width: calc(var(--player-width) + var(--scrollbar-width));
        height: 100vh;
        padding-top: var(--main-player-top-gap);

        transform: translateX(100%);
    }

    &_visible {
        display: block;
    }

    &_appeared {
        opacity: 1;

        transform: translate(0, 0);
    }

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: var(--purple) url(#{$imgFolderPath}/page-bg_w_1024.jpg) no-repeat 100% 15% /1500px auto;

        transform: scale(-1);

        @media (min-width: 768px) {
            background-size: 1024px auto;
        }
        @media (min-width: 1025px) {
            content: none;
        }

        .webp & {
            background-image: url(#{$imgFolderPath}/page-bg_w_1024.webp);
        }
    }

    &__scrollable {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;

        width: 100%;
        height: calc( 100vh - var(--player-height) );
        padding-top: var(--main-player-top-gap);
        padding-left: var(--main-player-gap);
        padding-right: var(--main-player-gap);
        padding-bottom: 12px;

        overflow: auto;

        // chrome / safari
        &::-webkit-scrollbar {
            width: 7px;
            background: transparent;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--white-10);
        }
        // firefox only
        scrollbar-width: thin;
        scrollbar-color: var(--white-10) transparent;

        @media (min-width: 1025px) {
            height: calc( 100vh - var(--main-player-top-gap) );
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;

        width: 100%;
        flex-grow: 1;

        @media (min-width: 576px) {
            max-width: 344px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__spacer {
        flex-shrink: 0;
        flex-basis: 12px;

        @media (min-height: 800px) {
            flex-grow: 1;
        }

        &_s_lg {
            flex-grow: 1;

            @media (min-height: 800px) {
                flex-grow: 4;
            }
        }
    }

    &__theme-btn {

        @media (max-width: 1024px) {
            display: none;
        }
        @media (min-width: 1025px) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__shrink-btn {
        display: none;

        @media (min-width: 1025px) {
            position: absolute;
            top: 0;
            right: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;
            padding: 0;
            border: 0;

            color: var(--l2-gray);

            background-color: transparent;
            outline: none;
            opacity: 0.5;

            &:hover,
            &:focus,
            &:active {
                color: var(--white);

                opacity: 1;
            }
            &:active {
                opacity: 0.7;
            }
        }
    }

    &__title {
        font-family: $ff-b;
        font-size: rem(14);

        opacity: 0.7;

        @media (min-width: 768px) {
            font-size: 1rem;
            line-height: 1.1em;
        }
        @media (min-width: 1025px) {
            font-size: rem(14);
            line-height: initial;
        }
    }

    &__cover-wrap {
        display: none;

        @media (min-width: 768px) {
            position: relative;

            display: block;

            max-width: 250px;
            margin: 0 auto;
        }
        @media (min-width: 1025px) {
            max-width: 150px;
        }
        // в завис-ти от высоты вьюпорта некоторые элементы скрываются
        @media (min-width: 1025px) and (max-height: 799px) {
            max-width: 107px;
        }

        &::after {
            content: "";

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(360deg, rgba(29, 16, 34, 0.7) 0%, rgba(29, 16, 34, 0) 50%);
            opacity: 0.7;

            pointer-events: none;
        }
    }

    &__cover {
        display: block;

        width: 100%;
        height: auto;
    }

    &__play-live {
        position: relative;
        z-index: 1;

        max-width: 186px;
        height: 35px;
        margin: 0 auto;
        margin-bottom: rem(7);

        transform: translateY(-52%);

        @media (max-width: 767px) {
            display: none;
        }
        @media (min-width: 1025px) {
            height: 32px;
            margin-bottom: rem(-2);

            transform: translateY(-12px);
        }
    }

    &__stream-link {
        max-width: 328px;
    }

    &__socials {
        position: relative;

        padding: 12px var(--main-player-gap);
        padding-bottom: 0;
        margin-right: calc( var(--main-player-gap) * -1 );
        margin-left: calc( var(--main-player-gap) * -1 );

        @media (min-width: 576px) and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            position: fixed;
            left: 20px;
            bottom: 16px;

            flex-direction: column;
        }
        @media (min-width: 1025px) {
            padding-bottom: 8px;
            padding-top: 8px;
        }

        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1px;

            background: var(--white);
            opacity: 0.3;
            mix-blend-mode: overlay;

            @media (min-width: 768px) and (max-width: 1024px) {
                content: none;
            }
        }
    }
}

.channels-slider {
    min-height: 44px;
    padding: 0 var(--main-player-gap);
    margin-left: calc( var(--main-player-gap) * -1 );
    margin-right: calc( var(--main-player-gap) * -1 );
    margin-bottom: rem(20);

    @media (min-width: 768px) {
        margin-bottom: 2rem;
    }
    @media (min-width: 1025px) {
        min-height: 36px;
        margin-bottom: 1rem;
    }
}

.channel-list {
    display: flex;
    align-items: stretch;

    width: calc( 100% + 6px );
    height: 44px;
    margin-left: -3px;
    margin-right: -3px;

    @media (min-width: 768px) {
        width: calc(100% + 16px);
        margin-right: -8px;
        margin-left: -8px;
    }
    @media (min-width: 1025px) {
        width: calc(100% + 4px);
        height: 36px;
        margin-right: -2px;
        margin-left: -2px;
    }

    &__item {
        display: flex;
        align-items: center;

        flex-basis: auto;
        width: auto;
        padding: 0 3px;

        &_selected {
            padding-top: 0;
            padding-bottom: 0;
        }

        @media (min-width: 768px) {
            padding-right: 8px;
            padding-left: 8px;
        }
        @media (min-width: 1025px) {
            padding-right: 2px;
            padding-left: 2px;
        }
    }

    &__btn {
        padding: 10px 16px;
        border: 0;

        font-family: $ff-b;
        font-size: 1rem;
        line-height: 1em;
        color: var(--white-70);

        border-radius: 8px;
        background-color: var(--white-10);
        backdrop-filter: blur(10px);

        @media (min-width: 1025px) {
            padding: 6px 8px;

            font-size: rem(14);
            line-height: rem(18);
        }

        &:hover,
        &:focus,
        &:active,
        &_active {
            color: var(--white);
        }
        &_active {
            padding-top: 14px;
            padding-bottom: 14px;

            font-family: $ff;
            font-weight: 500;

            @media (min-width: 1025px) {
                padding-top: 9px;
                padding-bottom: 9px;
            }
        }
    }
}

.live-block {
    display: flex;

    margin-bottom: 1rem;

    &__header {
        flex-grow: 1;

        @media (min-width: 1025px) {
            max-width: calc(100% - 30px);
        }
    }

    &__program {
        display: none;

        @media (min-width: 768px) {
            display: block;

            font-family: $ff-b;
            font-size: rem(22);
            line-height: rem(36);
        }
        @media (min-width: 1025px) {
            font-family: $ff-d;
            font-size: rem(14);
            line-height: initial;
        }
    }

    &__volume {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;

            flex-shrink: 0;
            flex-basis: 40px;

            transform: translateX(10px);
        }
        @media (min-width: 1025px) {
            flex-basis: 30px;

            transform: translateX(7px);
        }
    }
}

.live-track {
    position: relative;

    display: flex;

    padding-left: var(--main-player-gap);
    padding-right: var(--main-player-gap);
    padding-bottom: 16px;
    margin-left: calc( var(--main-player-gap) * -1 );
    margin-right: calc( var(--main-player-gap) * -1 );
    margin-bottom: 1rem;

    @media (min-width: 576px) and (max-width: 1024px) {
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
    @media (min-width: 1025px) {
        margin-bottom: rem(11);
    }

    &::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 1px;

        background: var(--white);
        opacity: 0.3;
        mix-blend-mode: overlay;
    }

    &__eq {
        position: absolute;
        top: 1px;
        left: 0;

        width: 11px;
        height: 58px;

        opacity: 0.6;
        mix-blend-mode: overlay;

        @media (min-width: 1025px) {
            top: 0;

            width: 12px;
            height: 40px;
        }
    }

    &__player {
        flex-grow: 1;
        max-width: calc(100% - 24px - 16px);
        padding-left: 4px;
        margin-right: 16px;

        @media (min-width: 576px) {
            max-width: calc(100% - 40px - 16px);
        }
        @media (min-width: 1025px) {
            max-width: calc(100% - 32px);
            padding-left: 0;
            margin-right: 0;
        }
    }

    &__lyrics-btn {
        flex-shrink: 0;
        flex-basis: 24px;
        padding: 0;
        border: 0;

        color: inherit;

        background-color: transparent;
        opacity: 0.5;

        &:not(:disabled):hover,
        &:not(:disabled):focus {
            opacity: 1;
        }
        &:not(:disabled):active {
            opacity: .75;
        }
        &:disabled {
            color: var(--gray);

            opacity: 0.3;
        }

        @media (min-width: 576px) {
            flex-basis: 40px;

            transform: translateX(10px);
        }
        @media (min-width: 1025px) {
            flex-basis: 32px;
            padding-top: 6px;

            transform: translateX(7px);
        }
    }

    &__lyrics-icon {
        pointer-events: none;
    }

    &__lyrics {
        display: none;

        padding: .5em var(--main-player-gap);
        margin-top: -1rem;
        margin-left: calc( var(--main-player-gap) * -1 );
        margin-right: calc( var(--main-player-gap) * -1 );
        margin-bottom: 1em;

        font-family: $ff-b;
        font-size: rem(18);
        line-height: rem(24);

        opacity: 0.8;
        background-color: rgba(41, 28, 43, 0.95);
        backdrop-filter: blur(4px);

        @media (min-width: 576px) and (max-width: 1024px) {
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 0;
            margin-right: 0;
        }
        @media (min-width: 1025px) {
            margin-top: rem(-11);
        }

        &_visible {
            display: block;
        }
        &_loading {
            display: flex;
            justify-content: center;
            align-items: center;

            min-height: 4rem;
        }
    }

    &__lyrics-loader {
        display: none;
    }
    &__lyrics_loading &__lyrics-loader {
        display: flex;
    }

    &__lyrics-text {
        display: block;

        pre {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            white-space: pre-line;
            color: inherit;
        }
    }
    &__lyrics_loading &__lyrics-text {
        display: none;
    }
}

.live-eq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    &_playing &__bar {
        animation-name: equalizeHorizontal;
    }

    &__bar {
        --default-width: 2px;

        height: 2px;

        background: linear-gradient(to right, #883eaf, #a74ed6);

        transform: translateX( calc( -100% + var(--default-width) ) );
        animation-duration: 1.25s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media (min-width: 768px) {
            height: 1px;
        }

        &_n {
            &_1 {
                --default-width: 11px;
                animation-delay: -400ms;
                animation-duration: 1.4s;
            }
            &_3 {
                --default-width: 4px;
                animation-delay: -525ms;
            }
            &_4 {
                --default-width: 10px;
                animation-duration: 1.4s;
            }
            &_5 {
                --default-width: 3px;
                animation-delay: -575ms;
                animation-duration: 1.4s;
            }
            &_6 {
                --default-width: 8px;
                animation-delay: -600ms;
            }
            &_7 {
                --default-width: 7px;
                animation-delay: -300ms;
                animation-duration: 1.5s;
            }
            &_8 {
                animation-delay: -650ms;
            }
            &_9 {
                animation-delay: -250ms;
            }
            &_10 {
                animation-delay: -725ms;
                animation-duration: 1.5s;
            }
            &_11 {
                --default-width: 7px;
                animation-delay: -850ms;
            }
            &_13 {
                --default-width: 11px;
                animation-delay: -900ms;
                animation-duration: 1.4s;
            }
            &_14 {
                --default-width: 3px;
                animation-delay: -100ms;
            }
            &_15 {
                --default-width: 3px;
            }
        }
    }
}

.player-history {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    // в завис-ти от высоты вьюпорта некоторые элементы скрываются
    @media (min-width: 1025px) and (max-height: 699px) {
        display: none;
    }

    &__title {
        flex-basis: 100%;
        margin-bottom: .9rem;

        @media (min-width: 1025px) {
            margin-bottom: .8rem;
        }
    }

    &__link {
        display: none;

        margin-left: auto;

        font-weight: 500;
        text-decoration: none;
        color: var(--white-70);

        @media (min-width: 768px) {
            display: block;
        }

        &:hover,
        &:focus {
            color: var(--white);
        }
        &:active {
            color: var(--white-90);
        }

        &_mobile-only {
            position: absolute;
            top: 0;
            right: 0;

            display: block;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}

.history-list {
    width: 100%;

    @media (min-width: 1025px) {
        margin-bottom: rem(-5);
    }

    &__item {
        position: relative;

        display: flex;
        align-items: center;

        padding-bottom: 14px;
        margin-bottom: rem(11);

        @media (min-width: 1025px) {
            padding-bottom: 0;
            margin-bottom: rem(12);
        }
        // в завис-ти от высоты вьюпорта некоторые элементы скрываются
        @media (min-width: 1025px) and (max-height: 899px) {
            &:nth-child(3) {
                display: none;
            }
        }
        @media (min-width: 1025px) and (max-height: 799px) {
            &:nth-child(2) {
                display: none;
            }
        }

        &::after {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 1px;

            background: var(--white);
            opacity: 0.3;
            mix-blend-mode: overlay;

            @media (min-width: 1025px) {
                content: none;
            }
        }
    }

    &__player {
        flex-grow: 1;
        max-width: calc(100% - 60px);

        @media (min-width: 1025px) {
            max-width: calc(100% - 35px);
        }
    }

    &__time {
        flex-shrink: 0;
        flex-basis: 42px;
        margin: 0 9px;

        font-family: $ff-b;
        font-size: rem(14);
        text-align: right;
        color: var(--white-70);

        @media (min-width: 1025px) {
            align-self: start;

            flex-basis: 35px;
            padding-top: 1px;
            margin-right: 0;
            margin-left: auto;

            font-size: rem(12);
        }
    }
}

.stream-link {
    position: relative;

    display: block;

    text-decoration: none;
    color: var(--white);

    @media (min-width: 768px) and (max-width: 1024px) {
        position: fixed;
        right: 32px;
        bottom: 32px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 79px;
        height: 111px;
        padding: 12px;

        background-color: var(--red);
        border-radius: 8px;
    }

    &:hover,
    &:focus {
        color: var(--white-70);

        @media (min-width: 768px) and (max-width: 1024px) {
            color: currentColor;

            background-color: var(--red-90);
        }
    }
    &:active {
        color: var(--red);

        @media (min-width: 768px) and (max-width: 1024px) {
            color: currentColor;

            background-color: var(--d-red);
        }
    }

    & > * {
        pointer-events: none;
    }

    &__img {
        display: block;

        width: 100%;
        height: auto;

        @media (min-width: 768px) and (max-width: 1024px) {
            display: none;
        }
    }

    &__icon-wrap {
        position: absolute;
        top: 50%;
        left: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;
        border: 1px solid var(--white-10);

        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);

        transform: translate(-50%, -50%);

        @media (min-width: 768px) and (max-width: 1024px) {
            position: static;

            width: 36px;
            height: 36px;
            margin-bottom: .5rem;

            transform: none;
        }
    }

    &__title {
        display: none;

        @media (min-width: 768px) and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: $ff-b;
            font-size: rem(14);
        }
    }

    &__title-highlighted {
        font-size: rem(22);
        line-height: 1.1;
    }
}

.other-platforms {
    position: relative;

    margin-bottom: rem(20);

    font-family: $ff-b;
    font-size: rem(14);
    line-height: rem(18);
    text-align: left;

    overflow: hidden;

    @media (min-width: 1025px) {
        margin-bottom: rem(17);
    }

    &__el {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        min-height: 36px;
        padding: 0 20px;

        transform: translateX(100%);
        transition: transform .3s;

        @media (min-width: 768px) and (max-width: 1024px) {
            display: flex;

            padding: 0;
            margin-bottom: rem(8);
        }
        @media (min-width: 1025px) {
            padding: 0;
        }

        &_t_socials {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            transform: translateX(-100%);

            @media (min-width: 768px) and (max-width: 1024px) {
                position: static;

                height: auto;
                margin-right: -3px;
                margin-left: -3px;

                transform: none;
            }
        }

        &_visible {
            display: flex;

            transform: translateX(0);
        }
    }

    &__inner {
        margin-right: 16px;

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-right: 0;
        }
        @media (min-width: 1025px) {
            margin-right: 0px;
        }
    }

    &__btn {
        align-self: stretch;

        flex-shrink: 0;
        width: 40px;
        padding: 0;
        margin-left: auto;
        border: 0;

        color: inherit;

        background-color: transparent;
        outline: none;

        transform: translateX(12px);

        @media (min-width: 768px) and (max-width: 1024px) {
            display: none;
        }

        &_t_close {
            transform: translateX(12px) scaleX(-1);
        }

        &:hover,
        &:focus {
            color: var(--white-70);
        }
        &:active {
            color: var(--red);
        }
    }
}
